@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
/* navbar */
nav{
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 6%;
    user-select: none;
}

nav.sticky{
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav a{
    text-decoration: none;
}

nav a .logo{
    color:white;
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 3px;
}

.turnred{
    color:red;
}
nav img{
    width:100px;
}

nav ul{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    position: relative;
    list-style: none;
    padding-top:2%;
    font-weight: bold;
}

nav ul li a{
    position: relative;
    margin: 0 50px;
    font-size: 1.5em;
    text-decoration: none;
    color:rgb(250, 250, 250);
    user-select: none;
}

nav ul li a:hover{
    color:white;
}
nav ul li::after{
    content:'';
    width:0;
    height: 2px;
    background:rgb(250, 250, 250);
    display: block;
    margin:auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 50%;
}

.close{
    display: none;
    overflow: hidden;
}
.close span{
    position:absolute;
    width:40px;
    height:4px;
    background-color: white;
    right:40px;
    transition: 0.5s;
}
.close.active span
{
    transform: translateX(100px);
    transition:0.5s;
}

.close span:nth-child(1)
{
    transform: translateY(-15px);
    width:30px;
    height:4px;
    right:40px;
}
.close span:nth-child(1):hover{
    width: 35px;
}

.close.active span:nth-child(1)
{
    width:40px;
    transform: translateY(0px) rotate(45deg);
}

.close span:nth-child(2)
{
    transform: translateY(15px);
    width:30px;
    height:4px;
    right:40px;
}

.close.active span:nth-child(2)
{
    width: 40px;
    transform: translateY(0px) rotate(675deg);
}
/* The end of navbar */

/* header */
.headerbox{
    position: absolute;
    left:13%;
    top:50%;
    transform: translateY(-50%);
    color:white;
    user-select: none;
}

.headerbox h1{
    padding: 25px 0;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 6px;
}

.headerbox p{
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}
.headerbox a{
    position:absolute;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 24px;
    width: 200px;
    height: 60px;
}

.headerbox a span{
    position: relative;
    top:25%;
    left: 10%;
}

.headerbox a:hover{
    color:#D35100;
}

.headerbox a::before{
    content: '';
    height: 90px;
    width: 220px;
    position:absolute;
    top:-15px;
    left: 0;
    border-left: 3px solid #D35100;
    border-right: 3px solid #D35100;
    transition: 1s;
}

.headerbox a::after{
    content: '';
    height: 60px;
    width: 250px;
    position:absolute;
    top:0px;
    left: -15px;
    border-top: 3px solid #D35100;
    border-bottom: 3px solid #D35100;
    transition: 1s;
}
.headerbox a:hover::before{
    transform:rotateY(180deg);
}
.headerbox a:hover::after{
    transform:rotateX(180deg);
}

/* The end of header */

/* carousel */
.subtitle-black{
    text-align: center;
    color:white;
    width:fit-content;
    position: relative;
    display:block;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding:15px;
    margin-top:100px;
    left:50%;
    font-size: 30px;
    letter-spacing: 10px;
    background-color: rgb(0, 0, 0);
}
.container{
    margin:5%;
    position:relative;
    user-select: none;
}
.inner-container{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-size{
    max-height: 700px;
}
/* The end of carousel */

/* About us  */

.aboutus-container{
    min-height: 80vh;
    background-color: rgb(0, 0, 0);
    color:white;
}

.subtitle-white{
    position: relative;
    display: inline-block;
    top:50px;
    left:50%;
    color:white;
    transform: translateX(-50%);
    font-size: 30px;
    margin-top:30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}

.subtitle-white::before{
    content: '';
    height: 90px;
    width: 100%;
    position:absolute;
    top:-15px;
    left: 0;
    border-bottom: 3px solid #ffffff;
    transition: 1s;
}
.aboutus .aboutus-content{
    display:flex;
    position: relative;
    text-align: center;
    justify-content:space-between;
    top:200px;
    padding:0 200px;
}

.aboutus .aboutus-content .column-left{
    width: 700px;
    height:400px;
    text-align:justify;
    line-height: 2em;
    overflow:hidden;
}
.aboutus .aboutus-content .column-right{
    user-select: none;
}
.aboutus embed{
    width:600px;
    height:312px;
}

/* The end of about us */

/* Address */
.address{
    min-height: 100vh;
}
.address .address-content{
    text-align: center;
    color:#616161;
    margin-top:60px;
}
.address .address-content .address-text{
    letter-spacing: 3px;
    font-size: 20px;
    margin-top:40px;
}
.address .address-content .address-email{
    margin:15px;
    font-size: 20px;
    letter-spacing: 3px;
}
.address .address-content .address-contect-container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding:0 45%;
    padding-bottom: 15px;
    color:#616161;
}

.address .address-content .address-date-container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding:0 37%;
    padding-bottom: 25px;
    color:#616161;
}
.address .address-content{
    color:#616161;
    font-size: 20px;
    margin:15px 0 ;
}
.address .address-date{
    color:#616161;
    font-size: 20px;
    margin:15px 0 ;
}
.address .address-content .address-map embed{
    width: 800px;
    height: 500px;
}
/* The end of Address */
/* Form */
.form{
    min-height: 80vh;
    background-color: rgb(0, 0, 0);
    color:white;
}
.subtitle-white-form{
    position: relative;
    display: inline-block;
    top:50px;
    left:50%;
    color:white;
    transform: translateX(-50%);
    font-size: 30px;
    margin-top:30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}
.subtitle-white-form::before{
    content: '';
    height: 90px;
    width: 100%;
    position:absolute;
    top:-15px;
    left: 0;
    border-bottom: 3px solid #ffffff;
    transition: 1s;
}
.form-container{
    position:relative;
    display: flex;
    justify-content: center;
    top:150px;
}
.form-container .input{
    margin-bottom:30px;
}
.form-container input{
    position: relative;
    width: 500px;
    font-size: 20px;
    border:none;
    background-color: black;
    border-bottom: solid #616161 2px;
    outline: none;
    color:white;
}
.form-container .name-container,.number-container{
    display: flex;
    justify-content: space-between;
}
.form-container .name-container .text-field input{
    width: 200px;
    font-size: 20px;
    border:none;
    background-color: black;
    border-bottom: solid #616161 2px;
    outline: none;
    color:white;
}
.form-container .text-field input{
    width: 500px;
    font-size: 20px;
    border:none;
    background-color: black;
    border-bottom: solid #616161 2px;
    outline: none;
    color:white;
}
.form-container .number-field input{
    width: 200px;
    font-size: 20px;
    border:none;
    background-color: black;
    border-bottom: solid #616161 2px;
    outline: none;
    color:white;
}

.form-container .time-field input{
    width: 200px;
    font-size: 20px;
    border:none;
    /* background-color: rgb(216, 94, 94); */
    border-bottom: solid #616161 2px;
    outline: none;
    color:white;
}
.form-container select{
    width: 500px;
    background-color: black;
    color:white;
    border:none;
    font-size: 20px;
    outline: none;
    border-bottom: solid #616161 2px;
    letter-spacing: 3px;
}
.form-container label{
    font-size: 25px;
    margin-bottom: 20px;
}

.form-container .btn-container{
    display: flex;
    justify-content: center;
}
.form-container .down-btn{
    margin-top: 40px;
    width:40%;
    font-size: 25px;
    font-weight: bold;
}
#left-btn{
    margin-right: 20px;
}

.down-btn:hover{
    font-size: 30px
}

/* The end of form */
/* footer */
footer{
    min-height: 30vh;
    background-color: #616161;
    color:white;
    left: 0;
    top:0;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
} 
.footer-container h3{
    margin-top:50px;
    font-size: 50px;
    letter-spacing: 3px;
}

.footer-container p{
    max-width: 500px;
    margin:10px auto;
    line-height: 28px;
    font-size: 20px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin:0 20px;
}
.socials a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    transition:  color .4s ease;
}
.socials a:hover {
    color:#D35100;
}
.footer-bottom{
    background:#616161;
    width: 100vw;
    padding:20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* The end of footer */

@media only screen and (max-width: 1770px){
    .aboutus-container{
        min-height: 120vh;
        background-color: rgb(0, 0, 0);
        color:white;
    }
    .subtitle-white{
        margin-top:10px;
        top:40px;
    }
    .aboutus .aboutus-content{
        display:block;
        position: relative;
        text-align: center;
        top:120px;
    }
    .aboutus .aboutus-content .column-left{
        width: 700px;
        height:400px;
        flex-direction: column;
        text-align: center;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        font-size: 20px;
    }
    .aboutus .aboutus-content .column-right{
        position: relative;
        left:50%;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 1800px){
    .address .address-content .address-contect-container{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding:0 44%;
        padding-bottom: 15px;
        color:#616161;
    }
}
@media only screen and (max-width: 1319px){
    .navBar .close{
        position:relative;
        left:20px;
        width:70px;
        height: 70px;
        display:flex;
        align-items:center;
        cursor:pointer;
        overflow: hidden;
        z-index: 999; 
    }
    .navBar .close span{
        right:10px
    }
    .narBar-container{
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        display:flex;
        justify-content: center;
        top:0px;
        right: 0;
        height: 100vh;
        width:30vw;
        z-index: 20;
        left:159vw;
        transition: 0.3s ease-in-out;
    }
    .narBar-container.active{
        left: 70vw;
    }
    .narBar-container ul{
        flex-direction: column;
        padding:0 50px;
    }
    .narBar-container ul li{
        margin:20px 0;
    }
}
@media only screen and (max-width: 1165px){
    .narBar-container .covid{
        font-size: 20px;
    }
}
@media only screen and (max-width: 870px){
    .address .address-content .address-map embed{
        width: 500px;
        height: 500px;
    }
}
@media only screen and (max-width: 820px){
    .aboutus .aboutus-content .column-left{
        width: 670px;
        height:400px;
        font-size: 19px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus-container{
        min-height: 120vh;
    }
    .form-container .text-field input{
        width: 400px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
    .form-container select{
        width: 400px;
        background-color: black;
        color:white;
        border:none;
        font-size: 20px;
        outline: none;
        border-bottom: solid #616161 2px;
        letter-spacing: 3px;
    }
    .form-container .number-field input{
        width: 150px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
    
    .form-container .time-field input{
        width: 150px;
        font-size: 20px;
        border:none;
        /* background-color: rgb(216, 94, 94); */
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
    .form-container .name-container .text-field input{
        width: 150px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
}
@media only screen and (max-width: 730px){
    .headerbox h1{
        font-size: 40px;
    }
    .headerbox p{
        font-size: 20px;
    }
    .subtitle-black{
        font-size: 20px;
        margin: 25px 0;
    }
    .aboutus .aboutus-content .column-left{
        width: 500px;
        height:400px;
        font-size: 16px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width:500px;
        height:312px;
    }
}
@media only screen and (max-width: 620px){
    .subtitle-black{
        font-size: 20px;
        margin: 25px 0;
    }
    .aboutus .aboutus-content .column-left{
        width: 500px;
        height:500px;
        font-size: 17px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width:400px;
        height:312px;
    }
    .aboutus-container{
        min-height: 130vh;
        background-color: rgb(0, 0, 0);
        color:white;
    }
}
@media only screen and (max-width: 570px){
    .address .address-content .address-map embed{
        width: 400px;
        height: 400px;
    }
    .address .address-content .address-text{
        font-size: 18px;
    }
    .address .address-content .address-email{
        font-size: 18px;
    }
    .address .address-date{
       font-size: 18px;
    }
    .footer-container h3{
        margin-top:50px;
        font-size: 50px;
        letter-spacing: 3px;
        font-size: 30px;
    }
    .footer-container p{
        max-width: 500px;
        margin:10px auto;
        line-height: 28px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 470px){
    .form{
        min-height: 100vh;
        background-color: rgb(0, 0, 0);
        color:white;
    }
    .subtitle-white-form{
        position: relative;
        display: inline-block;
        top:50px;
        left:50%;
        color:white;
        transform: translateX(-50%);
        font-size: 27px;
        margin-top:30px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: bold;
        user-select: none;
    }
    .form-container .text-field input{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
    .form-container .name-container,.number-container{
        display: block;
    }
    .form-container .name-container .text-field input{
        width: 250px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
    }
    .form-container .number-field input{
        width: 250px;
        font-size: 20px;
        border:none;
        background-color: black;
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
        left:50%;
        transform: translateX(-50%);
    }
    .form-container .time-field input{
        width: 250px;
        font-size: 20px;
        border:none;
        /* background-color: rgb(216, 94, 94); */
        border-bottom: solid #616161 2px;
        outline: none;
        color:white;
        left:50%;
        transform: translateX(-50%);
        margin-bottom:20px;
    }
    .form-container select{
        width: 250px;
        background-color: black;
        color:white;
        border:none;
        font-size: 20px;
        outline: none;
        border-bottom: solid #616161 2px;
        letter-spacing: 3px;
    }
    .form-container .down-btn{
        margin-top: 40px;
        width:40%;
        font-size: 20px;
        font-weight: bold;
    }
    .down-btn:hover{
        font-size: 22px
    }

}
@media only screen and (max-width: 420px){
    .headerbox h1{
        font-size: 25px;
    }
    .headerbox p{
        font-size: 16px;
    }
    .subtitle-black{
        font-size: 15px;
        margin: 25px 0;
    }
    .aboutus .aboutus-content .column-left{
        width: 350px;
        height:500px;
        font-size: 16px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width:300px;
        height:312px;
    }
    .aboutus-container{
        min-height: 110vh;
    }
    .address .address-content .address-map embed{
        width: 300px;
        height: 300px;
    }
    .address .address-content .address-text{
        margin: 0 2px;
    }
}
@media only screen and (max-width: 395px){
    .aboutus .aboutus-content .column-left{
        width: 300px;
        height:500px;
        font-size: 15px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width:300px;
        height:312px;
    }
    .aboutus-container{
        min-height: 120vh;
    }
    .form{
        min-height: 110vh;
        background-color: rgb(0, 0, 0);
        color:white;
    }
    .subtitle-white-form{
        position: relative;
        display: inline-block;
        top:50px;
        left:50%;
        color:white;
        transform: translateX(-50%);
        font-size: 20px;
        margin-top:30px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: bold;
        user-select: none;
    }
}
@media only screen and (max-width: 376px){
    .aboutus .aboutus-content .column-left{
        width: 300px;
        height:500px;
        font-size: 15px;
        text-align:justify;
        line-height: 2em;
        overflow:hidden;
    }
    .aboutus embed{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width:300px;
        height:260px;
    }
    .aboutus-container{
        min-height: 150vh;
    }
}
              